@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
/* Productos HTML*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: inherit;
    color: #343a40;
    background-color: #fffaf7;
}

h1,
h2 {
    font-size: 2rem;
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
}

h3,
h4,
h5 {
    color: gray;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bolder;
    font-size: 17px;
    text-align: left;
}

h6 {
    font-weight: 700 !important;
    font-family: inherit;
}

.container {
    padding: 0 95px;
}

.container-fluid {
    position: relative;
    padding: 0;
}

.navbar {
    background-color: #343a40;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.fixed-top {
    position: sticky;
}

.navbar-brand {
    font-family: 'Roboto Condensed', sans-serif;
    color: rgb(210, 186, 176);
    font-size: 2rem;
    /* Ajusta el tamaño de la fuente como necesites */
    flex-grow: 1;
    /* Permite que el elemento crezca y ocupe espacio disponible */
    text-align: left !important;
    margin-left: 1% !important;
    /* Centra el texto */
    margin: 0;

}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.container-fluid {
    display: flex;
    align-items: center;
    /* Centra verticalmente los elementos */
    justify-content: center;
    /* Centra horizontalmente */
}

.navbar-brand:hover {
    color: #ffffff
}

.nav-link {
    font-family: 'Roboto Condensed', sans-serif;
    color: #d2bab0 !important;
    font-size: 16px;
    margin-top: 2px;
    text-align: center;
}

.nav-link:hover {
    color: #ffffff !important;
}

.NuestrosProductos {
    text-align: center;
    position: relative;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 35px;
    color: #343a40;
    padding-top: 45px;
    letter-spacing: 0px;
}

.NuestrosProductos::after {
    content: '';
    display: block;
    width: 15%;
    height: 3px;
    background-color: #d2bab0;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.btn-primary {
    background-color: #344a40;
    border-color: #344a40;
}

.btn-primary:hover {
    background-color: #343a40;
    border-color: #343a40;
}

/* Estilos para hover en las tarjetas de producto */
.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.card-title {
    color: grey;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.card-text {
    color: #d2bab0;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: left;
    font-weight: normal;
    letter-spacing: 0.5px;
}


.card-text-price {
    color: gray;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
}

/* Footer */
footer {
    background: #343a40;
    padding: 45px 0;
    color: #d2bab0;
    position: relative;
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr .4fr;
    grid-template-areas:
        "logo contenido ayuda social-media"
        "copyright copyright copyright copyright";
    max-width: 1200px;
    margin: 0 auto;
}

@media screen and (max-width:1100px) {
    .footer-content {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
            "logo contenido"
            "ayuda social-media"
            "copyright copyright";
    }
}

@media screen and (max-width:627px) {
    .footer-content {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
        grid-template-areas:
            "logo"
            "contenido"
            "ayuda"
            "social-media"
            "copyright";
    }
}

.logo {
    grid-area: logo;
    max-width: 250px;
    /* Ajusta el tamaño según necesites */
    position: relative;
    bottom: 19px;
}

.footer-column:first-child {
    grid-area: contenido;
}

.footer-column:nth-child(2) {
    grid-area: ayuda;
}


.footer-logo {
    max-width: 100%;
    /* Ajusta el tamaño del logo dentro de su contenedor */
    height: auto;
    /* Mantiene la proporción del logo */
}

.footer-column {
    flex: 1;
    padding: 0 100px;
    position: relative;
    top: 55px;
}

.footer-title {
    font-size: 22px;
    font-weight: 700;
    color: #d2bab0;
    margin-bottom: 10px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bolder;
}

.footer-links {
    list-style: none;
    padding: 0;
}

.footer-links li {
    margin-bottom: 10px;
}

.footer-links li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: lighter;
    font-family: 'Roboto Condensed', sans-serif;
}

.footer-links li a:hover {
    color: #d2bab0;
    transition: color 0.1s;
}

/* Redes sociales */
.footer-title-redes {
    font-size: 22px;
    font-weight: 700;
    color: #d2bab0;
    margin-bottom: 0px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bolder;
    margin-top: 52px;
}

.social-media {
    grid-area: social-media;
    display: flex;
    flex-direction: column;
    /* El título se coloca encima de los iconos */
    align-items: center;
    /* Centra los elementos dentro de la columna */
}

.social-icons {
    display: flex;
    justify-content: center;
    /* Alinea los iconos en el centro de la columna */
    margin-top: 5px;
    /* Margen entre el texto "REDES" y los iconos */
}

.social-media-icon {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    width: 60px;
    height: 60px;
    border: 1.5px solid #d2bab0;
    border-radius: 50%;
    text-align: center;
    color: #d2bab0;
}

.social-media-icon:hover {
    background: #d2bab0;
    color: #ffffff;
    transition: 2s;
}

.social-media-icon i {
    font-size: 30px;
    line-height: 60px;
}

.copyright {
    grid-area: copyright;
    font-size: 12px;
    color: #ffffff;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    align-self: end;
}
.line2 {
    width: 100%;
    margin: 0px auto;
    height: 1px;
    background: #d2bab0;
    position: absolute;
    bottom: 10%;
    left: 0;
}
/*RESPONSIVE*/
/* Ajustes en pantallas más pequeñas */
@media (max-width: 768px) {
    .navbar-brand {
        font-size: 1.2rem;
    }

    .textocarrusel2007,
    .textocarruseltostando,
    .textocarruselanos {
        font-size: 1.5rem;
        text-align: center;
    }

    .carousel-caption {
        padding: 10px;
    }

    /* Ajustar texto e imágenes de productos */
    .NuestrosProductos {
        font-size: 1.5rem;
        text-align: center;
    }

    .carousel-item .row img {
        width: 650%;
        height: 100px;
        margin-bottom: 10px;
    }

    .imagenmedium-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .imagenmedium {
        width: 100%;
        margin: 20px 0;
    }

    .texto-izquierda,
    .texto-derecha {
        text-align: center;
        margin-bottom: 20px;
    }
}

@media (max-width: 626px) {

    /* Ajustes más específicos para pantallas pequeñas */
    .navbar-brand {
        font-size: 1rem;
    }

    .footer-content {
        flex-direction: column;
        text-align: center;
        justify-items: center;
    }

    .footer-links {
        padding: 0;
    }
    .copyright{
        font-size: 14px;
        letter-spacing: 3px;
        font-family: 'Roboto Condensed', sans-serif;    
        font-weight: lighter;
    }
    .line2{
        position: absolute;
        bottom: 15%;
    }
}

@media screen and (max-width:993px) {
    .navbar-nav {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        align-items: start;
        margin-left: 1%;
    }

    .nav-link {
        font-family: 'Roboto Condensed', sans-serif;
        color: #d2bab0 !important;
        font-size: 16px;
        margin-top: 2px;
        text-align: left;
    }

}

@media screen and (min-width:994px) {
    #navbarNav {
        display: block !important;
    }
}
